

.tipibox
{
	margin-top: 25PX;
	border: 2px double black;
	border-radius: 10px;
	min-width: 100%;
	text-align: center;
	font-size: 18px;
}

.mid {
	text-align: center;
}

.rig{
	text-align: right;
}

.lef{
	text-align: left;
}


.inv {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.regfield
{width:90%;
border:1px solid #000000}
